:root {
    --text-color: rgb(225, 241, 208); /*use for button and login color*/
    --general-font-family: 'DM sans', sans-serif;
    --logo-font-family: Norse, Arial, Helvetica, sans-serif;
}

* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

/* Styles for side-bar , FONTS STILL NEEDS ADDING! */

.logo {
    background: url(./images/background.avif);
    width: 30vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #344062;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color:  rgba(255, 255, 255, 0.5);
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    position: relative;
    top: -24vh;
}

.author-credit {
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    color: var(--text-color);
    font-family: var(--general-font-family);
}

.odin {
    height: 15vh;
}

.logo-text {
    font-family: var(--logo-font-family);
    font-size: 7vh;
}

/* Styles for RH main page */

.rh-side {
    background-color: rgba(0, 0, 0, 0.95);
    color: black;
    width: 70vw;
    font-family: var(--general-font-family);
}

/* Header styles */
.header {
    padding: 0 12vw 0 3vw;
    height: 35vh;
    background-color: rgba(255, 255, 255, 0.85);
}

.header > div {
    font-size: 1.4rem;
    font-family: var(--general-font-family);
    font-weight: 700;
    line-height: 1.2;
}

.header-1 {
    padding-top: 14vh;
}

.header-3 {
    padding-top: 3.5vh;
    letter-spacing: 0.2rem;
}

.main {
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.95);
}

/* Footer styles */
.footer {
    height: 35vh;
    padding: 3vw;
    background-color: rgba(255, 255, 255, 0.85);
}

button {
    margin-bottom: 3vw;
    background-color: #344062;
    padding: 17px 25px;
    border-radius: 10px;
    border: none;
    width: 13vw;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.crt-button {
    color: white;
    font-size: 1.2rem;
}

.crt-button:hover {
    background-color: #445792;
}

.crt-button:active {
    box-shadow: none;
    box-shadow: -1px -1px 1px rgb(0, 0, 0);
}

a {
    text-decoration: underline;
    font-family: var(--logo-font-family);
    font-size: 1.3rem;
    color: #344062;
    text-shadow: 1px 1px 2px var(--text-color);
}

a:hover {
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    color: var(--text-color);
    text-decoration: none;
}

.footer-text {
    font-size: 1.2rem;
}

